.venv/
dist/
__pycache__
.idea/
gendiff/scripts/__pycache__
gendiff/formats/__pycache__
.coverage
cc-test-reporter
coverage.xml
small_json.cast
small_yaml.cast
json_format.cast
plain_format.cast
nested.cast